<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.MenuMapper">
  
  <resultMap id="BaseResultMap" type="com.atguigu.pojo.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="linkUrl" jdbcType="VARCHAR" property="linkUrl" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="parentMenuId" jdbcType="INTEGER" property="parentMenuId" />

    <collection property="children" column="id" select="com.atguigu.dao.MenuMapper.selectChildrenByParentMenuId"/>


  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.atguigu.pojo.Menu">
    insert into t_menu (id, name, linkUrl, 
      path, priority, icon, 
      description, parentMenuId, level
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, 
      #{path,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{parentMenuId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.Menu">
    update t_menu
    set name = #{name,jdbcType=VARCHAR},
      linkUrl = #{linkUrl,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      parentMenuId = #{parentMenuId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, linkUrl, path, priority, icon, description, parentMenuId, level
    from t_menu
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, linkUrl, path, priority, icon, description, parentMenuId, level
    from t_menu
  </select>

    <select id="selectAllById" resultMap="BaseResultMap">
      select menu_id,t_menu.*
      from t_role_menu,t_menu
      where  menu_id = t_menu.id
      and role_id =#{id}
      and level = 1
    </select>

  <select id="selectChildrenByParentMenuId" resultType="com.atguigu.pojo.Menu">
    select id, name, linkUrl, path, priority, icon, description, parentMenuId, level
    from t_menu
    where parentMenuId  = #{id}
  </select>

</mapper>