<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.pojo.Order">

    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="orderDate" jdbcType="DATE" property="orderDate" />
    <result column="orderType" jdbcType="VARCHAR" property="orderType" />
    <result column="orderStatus" jdbcType="VARCHAR" property="orderStatus" />
    <result column="setmeal_id" jdbcType="INTEGER" property="setmealId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.atguigu.pojo.Order" useGeneratedKeys="true" keyProperty="id">
    insert into t_order (id, member_id, orderDate, 
      orderType, orderStatus, setmeal_id
      )
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{orderDate,jdbcType=DATE}, 
      #{orderType,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, #{setmealId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.Order">
    update t_order
    set member_id = #{memberId,jdbcType=INTEGER},
      orderDate = #{orderDate,jdbcType=DATE},
      orderType = #{orderType,jdbcType=VARCHAR},
      orderStatus = #{orderStatus,jdbcType=VARCHAR},
      setmeal_id = #{setmealId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="map" >
   select  orderDate, orderType,t_setmeal.name setmeal , t_member.name member
    from t_order,t_member,t_setmeal
    where  member_id = t_member.id
    and t_setmeal.id = setmeal_id
    and t_order.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, member_id, orderDate, orderType, orderStatus, setmeal_id
    from t_order
  </select>

  <select id="findByCondition" resultType="com.atguigu.pojo.Order">
    select id, member_id memberId, orderDate, orderType, orderStatus, setmeal_id setmealId
    from t_order
    <where>
      <if test="id!=null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="memberId !=null"  >
        member_id = #{memberId,jdbcType=INTEGER}
      </if>
      <if test="orderDate !=null"  >
        and orderDate = #{orderDate,jdbcType=DATE}
      </if>
      <if test="orderType !=null"  >
        and orderType = #{orderType,jdbcType=VARCHAR}
      </if>
      <if test="orderStatus !=null">
        and orderStatus = #{orderStatus,jdbcType=VARCHAR}
      </if>
      <if test="setmealId !=null" >
        and setmeal_id = #{setmealId,jdbcType=INTEGER}
      </if>
    </where>
  </select>

</mapper>