<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.pojo.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="description" jdbcType="VARCHAR" property="description" />

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.pojo.Permission">
    insert into t_permission (id, name, keyword, 
      description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.Permission">
    update t_permission
    set name = #{name,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, keyword, description
    from t_permission
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, keyword, description
    from t_permission
  </select>
  <select id="selectAllByRoleId" resultType="com.atguigu.pojo.Permission">
    select permission_id ,t_permission.name,t_permission.keyword
    from t_role_permission,t_permission
    where t_permission.id=permission_id
    and role_id = #{id}
   </select>
</mapper>