<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.RoleMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.pojo.Role">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="description" jdbcType="VARCHAR" property="description" />

    <collection property="permissions" select="com.atguigu.dao.PermissionMapper.selectAllByRoleId" column="id"/>
    <collection property="menus" select="com.atguigu.dao.MenuMapper.selectAllById" column="id"/>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.atguigu.pojo.Role">
    insert into t_role (id, name, keyword, 
      description)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.Role">
    update t_role
    set name = #{name,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, keyword, description
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, keyword, description
    from t_role
  </select>

  <select id="selectAllByUserId" resultMap="BaseResultMap">
    select t_role.id ,role_id ,t_role.name,t_role.keyword
    from t_user_role ,t_role
    where  t_role.id = user_id
    and user_id = #{id,jdbcType=INTEGER}
    </select>

</mapper>