<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.TravelItemMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.pojo.TravelItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="attention" jdbcType="VARCHAR" property="attention" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">

    delete from t_travelitem
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.atguigu.pojo.TravelItem">
    insert into t_travelitem (id, code, name, 
      sex, age, price, type, 
      attention, remark)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{sex,jdbcType=CHAR}, #{age,jdbcType=VARCHAR}, #{price,jdbcType=REAL}, #{type,jdbcType=CHAR}, 
      #{attention,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.TravelItem">
    update t_travelitem
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      age = #{age,jdbcType=VARCHAR},
      price = #{price,jdbcType=REAL},
      type = #{type,jdbcType=CHAR},
      attention = #{attention,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, code, name, sex, age, price, type, attention, remark
    from t_travelitem
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, code, name, sex, age, price, type, attention, remark
    from t_travelitem
    <where>
      <if test="value != null and value.length >0 ">
       name like concat("%",#{value},"%") or code=#{value}
      </if>
    </where>
  </select>
    <select id="findTravelGroupAndTravelItemByTravelItemId" resultType="java.lang.Integer">
      select count(travelgroup_id) from t_travelgroup_travelitem where travelitem_id = #{id}
    </select>

    <select id="findAllByTravelGroupId" resultMap="BaseResultMap" parameterType="integer" >
          select id, code, name, sex, age, price, type, attention, remark
          from t_travelitem,t_travelgroup_travelitem
          where id = travelitem_id and travelgroup_id = #{id}
    </select>

</mapper>