<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.atguigu.dao.TravelGroupMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.pojo.TravelGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="helpCode" jdbcType="VARCHAR" property="helpCode" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="attention" jdbcType="VARCHAR" property="attention" />

    <collection property="travelItems" select="com.atguigu.dao.TravelItemMapper.findAllByTravelGroupId" column="id"/>
  </resultMap>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_travelgroup
        where id = #{id,jdbcType=INTEGER}
    </delete>

  <!--根据id删除现有的关联数据-->
  <delete id="deleteTravelGroupAndItemByTravelItemId" parameterType="integer">
    delete from t_travelgroup_travelitem where travelgroup_id = #{id}
  </delete>

  <insert id="insert" parameterType="com.atguigu.pojo.TravelGroup" keyProperty="id" useGeneratedKeys="true">
    insert into t_travelgroup (id, code, name, 
      helpCode, sex, remark, 
      attention)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{helpCode,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR}, #{remark,jdbcType=VARCHAR},
      #{attention,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.TravelGroup">
    update t_travelgroup
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      helpCode = #{helpCode,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=CHAR},
      remark = #{remark,jdbcType=VARCHAR},
      attention = #{attention,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="setTravelGroupAndTravelItem" parameterType="map">
    insert into  t_travelgroup_travelitem(travelgroup_id,travelitem_id)
    values (#{travelGroup},#{travelItem})
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">

    select id, code, name, helpCode, sex, remark, attention
    from t_travelgroup
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">

    select id, code, name, helpCode, sex, remark, attention
    from t_travelgroup
    <where>
      <if test="value !=null and value.length > 0">
      #{value} = code or #{value} = concat("%",#{value},"%") or #{value} = helpCode
      </if>
    </where>
  </select>
  <select id="findGroupAndItemByGroupId" resultType="java.lang.Integer" parameterType="integer">
    select travelitem_id from t_travelgroup_travelitem
    where travelgroup_id = #{id}

  </select>

    <select id="findTravelGroupsById" resultMap="BaseResultMap" parameterType="integer">
        select id, code, name, helpCode, sex, remark, attention
        from t_travelgroup ,t_setmeal_travelgroup
        where id = travelgroup_id and setmeal_id = #{id}
    </select>

</mapper>