<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.atguigu.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="station" jdbcType="VARCHAR" property="station" />
    <result column="telephone" jdbcType="VARCHAR" property="telephone" />

    <collection property="roles" column="id" select="com.atguigu.dao.RoleMapper.selectAllByUserId"/>

  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.pojo.User">
    insert into t_user (id, birthday, gender, 
      username, password, remark, 
      station, telephone)
    values (#{id,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{gender,jdbcType=VARCHAR}, 
      #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{station,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.pojo.User">
    update t_user
    set birthday = #{birthday,jdbcType=DATE},
      gender = #{gender,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      station = #{station,jdbcType=VARCHAR},
      telephone = #{telephone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, birthday, gender, username, password, remark, station, telephone
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, birthday, gender, username, password, remark, station, telephone
    from t_user
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap">
    select id, birthday, gender, username, password, remark, station, telephone
    from t_user
    where username = #{username,jdbcType=VARCHAR}
   </select>

</mapper>